/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


/*Colores*/

$DesaturatedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);
$Gradiente1:hsl(0, 0%, 100%); 
$Gradiente2:hsl(0, 100%, 98%);
$Gradiente3:hsl(0, 80%, 86%);
$Gradiente4:hsl(0, 74%, 74%);


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: $DesaturatedRed;
}

.container{
    width: 375px;
    height: 800px;
    margin: 0 auto 80px;
    background-color: $Gradiente2;
    .container__logo{
        width: 100px;
        margin: 30px;
    }
    .container__picture{
        margin-bottom: 60px;
    }
    .container__content{

        .container__content__title{
            text-align: center;
            text-transform: uppercase;
            font-size: 2.5em;
            color: $DarkGrayishRed;
            font-weight: 700;
            letter-spacing: 11px;
            margin-bottom: 30px;
            .container__content__title--color-red{
                color: $DesaturatedRed;
                font-weight: 300;
            }
        }
        .container__content__description{
            margin: 0 40px 40px;
            text-align: center;
            font-size: 0.85em;
            line-height: 1.4em;
        }
        .container__content__form{
            width: 310px;
            height: 50px;
            margin: auto;
            position: relative;
            .container__content__form__email{
                width: 100%;
                height: 100%;
                border-radius: 50px;
                padding-left: 16px;
                border: 1px solid $DesaturatedRed;
                outline: none;
                // background-image: url(./images/icon-error.svg);
                background-repeat: no-repeat;
                background-position: 210px;
            }
            ::placeholder{
                color: $DesaturatedRed
            }
            .container__content__form__button{
                position: absolute;
                right: 0;
                width: 68px;
                height: 52px;
                border-radius: 50px;
                background: linear-gradient(135deg, $Gradiente3, $Gradiente4);
                padding: 14px 25px;
                &:hover{
                    background: linear-gradient(135deg, $Gradiente2, $Gradiente4);
                    box-shadow: 0 10px 15px $Gradiente4;
            }
            }
            .container__content__form__email--error{
                font-size: 0.85em;
                margin: 8px 0 0 14px;
                color: $SoftRed;
            }
        }
    }

}

.attribution { 
    font-size: 18px; text-align: center; 
    a { color: hsl(228, 45%, 44%); 
    }
}

/*media*/

@media (min-width: 1440px){
    .container{
        width: 1440px;
        height: 800px;
        background-image: url(./images/bg-pattern-desktop.svg);
        position: relative;
        .container__logo{
            width: 180px;
        }
        .container__picture{
            content: url(./images/hero-desktop.jpg);
            position: absolute;
            right: 0;
        }
        .container__content{
            width: 440px;
            margin: 125px 0 0 36px;
            .container__content__title{
                text-align: left;
                font-size: 4.1em;
                letter-spacing: 15px;
            }   
            .container__content__description{
                text-align: left;
                font-size: 1em;
                margin: 0 0 40px;
            }
            .container__content__form{
                width: 100%;
                height: 60px;
                .container__content__form__email{
                    background-position: 300px;
                }
                .container__content__form__button{
                    width: 100px;
                    height: 62px;
                    padding: 20px 42px;
                }
            }

        }

    }
}